In [1]:
# Import libraries
import pandas as pd
import numpy as np
import lightgbm as lgb
import optuna

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error

from utilities import data_basic_utility as databasic
from utilities import dataframe_utility as dfutil
import features_utility as featutil

## File Details - Light GBM Regression tuning with Optuna

In [2]:
filePrefix = "A3_064_lgbm_regression_tuning"
baseDataDir = "C:/Development/Data/COSC2670/Assignment3/A3data/"
subrunDir = "subruns/"
writeSubRunFile = False
seed = databasic.get_random_seed()

In [3]:
trainFilePath = baseDataDir + 'train.tsv'
valiFilePath = baseDataDir + 'val.tsv'
featuresFilePath = baseDataDir + 'features.tsv'
testFilePath = baseDataDir + 'test.tsv'

# trainFilePath = baseDataDir + 'train_200k.tsv'
# valiFilePath = baseDataDir + 'vali_200k.tsv'
# featuresFilePath = baseDataDir + 'features_200k.tsv'
# testFilePath = baseDataDir + 'test_200k.tsv'

In [4]:
# RowID  BeerID  ReviewerID  BeerName  BeerType  Label
# df_train = pd.read_csv(baseDataDir + 'train_500k.tsv',sep='\t',
df_train = pd.read_csv(trainFilePath,sep='\t',
                         names=['RowID','BeerID','ReviewerID',
                                  'BeerName','BeerType','rating'])
df_train.head(10)

# df_vali = pd.read_csv(baseDataDir + 'vali_500k.tsv',sep='\t',
df_vali = pd.read_csv(valiFilePath,sep='\t',
                         names=['RowID','BeerID','ReviewerID',
                                  'BeerName','BeerType','rating'])
df_vali.head(10)

,RowID,BeerID,ReviewerID,BeerName,BeerType,rating
0,22,12300,2634,Rauch Ür Bock,Rauchbier,4.0
1,27,12300,5634,Rauch Ür Bock,Rauchbier,4.5
2,28,12300,3544,Rauch Ür Bock,Rauchbier,4.5
3,40,12300,6521,Rauch Ür Bock,Rauchbier,4.0
4,43,12300,10177,Rauch Ür Bock,Rauchbier,4.5
5,48,12300,2907,Rauch Ür Bock,Rauchbier,3.5
6,49,12300,1532,Rauch Ür Bock,Rauchbier,4.0
7,50,12300,3452,Rauch Ür Bock,Rauchbier,3.5
8,59,12300,6861,Rauch Ür Bock,Rauchbier,4.0
9,64,6699,6401,Caldera Pale Ale,American Pale Ale (APA),4.5

In [5]:
print(df_train.shape)
df_train.sort_values("ReviewerID").head(10)

(845008, 6)

,RowID,BeerID,ReviewerID,BeerName,BeerType,rating
167343,311098,8808,1,Samuel Adams Hallertau Imperial Pilsner,American Double / Imperial Pilsner,2.5
723418,1356865,2117,1,Censored,American Amber / Red Ale,3.0
460327,860477,4351,1,New Albanian Saison,Saison / Farmhouse Ale,4.0
59162,111627,2077,1,Coopers Extra Strong Vintage Ale,English Strong Ale,4.0
59267,111809,5108,1,Heritage Premium Ale,English Pale Ale,3.5
344194,642829,6271,1,Maharaja,American Double / Imperial IPA,4.5
39938,75813,9541,1,Sierra Nevada Southern Hemisphere Harvest Fres...,American IPA,4.5
613280,1149025,151,1,Fuller's ESB,Extra Special / Strong Bitter (ESB),4.5
197540,369886,25,1,Blanche De Chambly,Witbier,3.0
218928,409576,5232,1,Tröegs Nugget Nectar,American Amber / Red Ale,4.0

In [6]:
# Tinkering to get it working

# df_train_reviewer_counts = df_train.groupby("ReviewerID", as_index=False).size()
# df_train_reviewer_counts.columns=["ReviewerID", "ReviewerReviewCount"]

# print(type(df_train_reviewer_counts))

# df_train = pd.merge(df_train, df_train_reviewer_counts, how="inner", left_on="ReviewerID", right_on="ReviewerID")
# df_train.head()

# df_train["ReviewerReviewCount"] = df_train.groupby("ReviewerID").size()
# print(df_train.shape)
# df_train.head(20)

In [7]:
df_train = featutil.addReviewerReviewCount(df_train)
df_train = featutil.addBeerReviewCount(df_train)

df_vali = featutil.addReviewerReviewCount(df_vali)
df_vali = featutil.addBeerReviewCount(df_vali)

# df_train.head(10)

In [8]:
# RowID BrewerID ABV DayofWeek Month DayofMonth Year TimeOfDay Gender Birthday Text Lemmatized POS_Tag
# df_features = pd.read_csv(baseDataDir + 'features_500k.tsv',sep='\t', names=['RowID','BrewerID','ABV','DayofWeek','Month',
df_features = pd.read_csv(featuresFilePath, sep='\t', names=['RowID','BrewerID','ABV','DayofWeek','Month',
                                                                 'DayofMonth','Year','TimeOfDay','Gender',
                                                                 'Birthday','Text','Lemmatized','POS_Tag'])

df_features.head()

,RowID,BrewerID,ABV,DayofWeek,Month,DayofMonth,Year,TimeOfDay,Gender,Birthday,Text,Lemmatized,POS_Tag
0,18,1075,7.4,Mon,Jan,2,2012,15:20:04,Male,unknown,Pours a murky light brown with a 1 inch fizzy ...,pour a murky light brown with a 1 inch fizzy t...,VBZ DT JJ NN JJ IN DT CD NN JJ NN NN WDT VBZ I...
1,19,1075,7.4,Sun,Jan,1,2012,06:46:52,Male,unknown,Faint sudsy head with some with some dissipati...,faint sudsy head with some with some dissipate...,NN JJ NN IN DT IN DT VBG JJ NN . JJ JJ NN . DT...
2,20,1075,7.4,Tue,Nov,29,2011,05:51:44,Male,unknown,A new arrival to the West TN area ... Pours qu...,a new arrival to the West TN area ... pour qui...,"DT JJ NN IN DT NNP NNP NN , VBZ PDT DT NN JJR ..."
3,21,1075,7.4,Sat,Nov,5,2011,22:59:57,Male,unknown,Sampled 10/30/11 - Transferring the notes . A ...,sample 10/30/11 - transfer the note . a ruby p...,VBN CD HYPH VBG DT NNS . DT NN VBP IN DT NN NN...
4,22,1075,7.4,Tue,Nov,1,2011,20:40:21,Male,"Oct 14, 1983",This is my first rauchbier . Pours a burnt amb...,this be my first rauchbier . pour a burn amber...,DT VBZ PRP$ JJ NN . VBZ DT VBN NN . JJ NN . NN...

In [9]:
colsToUse = ["RowID", "BrewerID", "ABV", "DayofWeek", "DayofMonth", "Month", "Year", "Gender", "TimeOfDay", "Birthday"]

# Find the feature records that match the training and validation data and join them together
dfFullData = df_train.join(df_features[colsToUse], on="RowID", how="inner", rsuffix="Feat")
dfFullDataVali = df_vali.join(df_features[colsToUse], on="RowID", how="inner", rsuffix="Feat")

dfFullData.head()

,RowID,BeerID,ReviewerID,BeerName,BeerType,rating,ReviewerReviewCount,BeerReviewCount,RowIDFeat,BrewerID,ABV,DayofWeek,DayofMonth,Month,Year,Gender,TimeOfDay,Birthday
0,19,12300,10635,Rauch Ür Bock,Rauchbier,4.0,200,23,37,1075,7.4,Mon,23,May,2011,Male,15:36:28,unknown
1,21,12300,6547,Rauch Ür Bock,Rauchbier,4.5,10,23,40,1075,7.4,Mon,16,May,2011,Male,00:31:46,unknown
2,23,12300,9789,Rauch Ür Bock,Rauchbier,4.5,164,23,42,1075,7.4,Sun,10,Apr,2011,unknown,12:17:26,unknown
3,24,12300,7372,Rauch Ür Bock,Rauchbier,5.0,432,23,43,1075,7.4,Wed,30,Mar,2011,Male,14:08:00,unknown
4,25,12300,1302,Rauch Ür Bock,Rauchbier,4.5,500,23,45,1075,7.4,Thu,24,Mar,2011,Male,14:07:00,"Jul 25, 1984"

In [10]:
# Remove the duplicated Row ID, also remove Beer Name at this point, we're nt using it
df_train_data = dfFullData.drop(['RowIDFeat', "BeerName"],axis=1)
df_vali_data = dfFullDataVali.drop(['RowIDFeat', "BeerName"],axis=1)

# df_train_data[df_train_data["ReviewerID"] == 9789].head(20)

df_train_data.head()

,RowID,BeerID,ReviewerID,BeerType,rating,ReviewerReviewCount,BeerReviewCount,BrewerID,ABV,DayofWeek,DayofMonth,Month,Year,Gender,TimeOfDay,Birthday
0,19,12300,10635,Rauchbier,4.0,200,23,1075,7.4,Mon,23,May,2011,Male,15:36:28,unknown
1,21,12300,6547,Rauchbier,4.5,10,23,1075,7.4,Mon,16,May,2011,Male,00:31:46,unknown
2,23,12300,9789,Rauchbier,4.5,164,23,1075,7.4,Sun,10,Apr,2011,unknown,12:17:26,unknown
3,24,12300,7372,Rauchbier,5.0,432,23,1075,7.4,Wed,30,Mar,2011,Male,14:08:00,unknown
4,25,12300,1302,Rauchbier,4.5,500,23,1075,7.4,Thu,24,Mar,2011,Male,14:07:00,"Jul 25, 1984"

In [11]:
print(df_train_data.shape)
print(df_vali_data.shape)

(746207, 16)
(243834, 16)

In [12]:
num_trials = 250 # 100

colsToUse.append("BeerType")
colsToUse.append("ReviewerReviewCount")
colsToUse.append("BeerReviewCount")

considerCol = {}

# Initialize them all to True, use all the cols
for colName in colsToUse:
  considerCol[colName] = True

# "RowID", "BrewerID", "BeerType", "ABV", "DayofWeek", "DayofMonth", "Month", "Year", "Gender", "TimeOfDay"
# Disable any column we want

# Usually always use Year and Review Count Columns
# considerCol["Year"] = False
# considerCol["ReviewerReviewCount"] = False
# considerCol["BeerReviewCount"] = False

# Beer Context Columns
# considerCol["ABV"] = False
# considerCol["BrewerID"] = False
# considerCol["BeerType"] = False

# Consumer Context Columns
# considerCol["DayofWeek"] = False
# considerCol["DayofMonth"] = False
# considerCol["Month"] = False
# considerCol["TimeOfDay"] = False
# considerCol["Birthday"] = False
# considerCol["Gender"] = False

For any column set to not be considered (False), then drop the columns using del

Otherwise, depending on the column, either keep the column as is, or format where required

In [13]:
if considerCol["ABV"] == False:
  del df_train_data["ABV"]
  del df_vali_data["ABV"]

In [14]:
if considerCol["BrewerID"] == False:
  del df_train_data["BrewerID"]
  del df_vali_data["BrewerID"]
else: 
  df_train_data, df_vali_data = dfutil.getDummiesForSplitSets(df_train_data, df_vali_data, "BrewerID")

c:\Development\COSC2670\Assignment3\utilities\dataframe_utility.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_combined.columns = df_combined.columns.str.replace(" ", "").str.replace("/", "").str.replace("-", "") \

In [15]:
if considerCol["BeerType"] == False:
  del df_train_data["BeerType"]
  del df_vali_data["BeerType"]
else: 
  df_train_data, df_vali_data = dfutil.getDummiesForSplitSets(df_train_data, df_vali_data, "BeerType")

In [16]:
if considerCol["Gender"] == False:
  del df_train_data["Gender"]
  del df_vali_data["Gender"]
else: 
  df_train_data, df_vali_data = dfutil.getDummiesForSplitSets(df_train_data, df_vali_data, "Gender")

In [17]:
if considerCol["DayofWeek"] == False:
  del df_train_data["DayofWeek"]
  del df_vali_data["DayofWeek"]
else: 
  df_train_data = featutil.formatDayOfWeek(df_train_data)
  df_vali_data = featutil.formatDayOfWeek(df_vali_data)

In [18]:
if considerCol["Month"] == False:
  del df_train_data["Month"]
  del df_vali_data["Month"]
else: 
  df_train_data = featutil.formatMonth(df_train_data)
  df_vali_data = featutil.formatMonth(df_vali_data)

In [19]:
if considerCol["DayofMonth"] == False:
  del df_train_data["DayofMonth"]
  del df_vali_data["DayofMonth"]

In [20]:
if considerCol["Year"] == False:
  del df_train_data["Year"]
  del df_vali_data["Year"]

In [21]:
if considerCol["TimeOfDay"] == False:
  del df_train_data["TimeOfDay"]
  del df_vali_data["TimeOfDay"]
else: 
  df_train_data = featutil.formatTimeToSec(df_train_data)
  df_vali_data = featutil.formatTimeToSec(df_vali_data)

In [22]:
if considerCol["Birthday"] == False:
  del df_train_data["Birthday"]
  del df_vali_data["Birthday"]
else: 
  df_train_data = featutil.convertBirthdayToAge(df_train_data)
  df_vali_data = featutil.convertBirthdayToAge(df_vali_data)

In [23]:
if considerCol["ReviewerReviewCount"] == False:
  del df_train_data["ReviewerReviewCount"]
  del df_vali_data["ReviewerReviewCount"]

In [24]:
if considerCol["BeerReviewCount"] == False:
  del df_train_data["BeerReviewCount"]
  del df_vali_data["BeerReviewCount"]

In [25]:
print(df_train_data.shape)
print(df_vali_data.shape)

df_train_data.head()

(746207, 2196)
(243834, 2196)

,RowID,BeerID,ReviewerID,rating,ReviewerReviewCount,BeerReviewCount,ABV,DayofWeek,DayofMonth,Month,...,BeerType_SmokedBeer,BeerType_Tripel,BeerType_ViennaLager,BeerType_Weizenbock,BeerType_Wheatwine,BeerType_WinterWarmer,BeerType_Witbier,Gender_Female,Gender_Male,Gender_unknown
0,19,12300,10635,4.0,200,23,7.4,1,23,5,...,0,0,0,0,0,0,0,0,1,0
1,21,12300,6547,4.5,10,23,7.4,1,16,5,...,0,0,0,0,0,0,0,0,1,0
2,23,12300,9789,4.5,164,23,7.4,7,10,4,...,0,0,0,0,0,0,0,0,0,1
3,24,12300,7372,5.0,432,23,7.4,3,30,3,...,0,0,0,0,0,0,0,0,1,0
4,25,12300,1302,4.5,500,23,7.4,4,24,3,...,0,0,0,0,0,0,0,0,1,0

In [26]:
df_vali_data.head()

,RowID,BeerID,ReviewerID,rating,ReviewerReviewCount,BeerReviewCount,ABV,DayofWeek,DayofMonth,Month,...,BeerType_SmokedBeer,BeerType_Tripel,BeerType_ViennaLager,BeerType_Weizenbock,BeerType_Wheatwine,BeerType_WinterWarmer,BeerType_Witbier,Gender_Female,Gender_Male,Gender_unknown
0,22,12300,2634,4.0,19,9,7.4,6,14,5,...,0,0,0,0,0,0,0,0,0,1
1,27,12300,5634,4.5,48,9,7.4,4,10,2,...,0,0,0,0,0,0,0,0,0,1
2,28,12300,3544,4.5,227,9,7.4,5,10,12,...,0,0,0,0,0,0,0,0,0,1
3,40,12300,6521,4.0,81,9,5.5,4,27,8,...,0,0,0,0,0,0,0,0,1,0
4,43,12300,10177,4.5,58,9,5.5,1,10,8,...,0,0,0,0,0,0,0,1,0,0

In [27]:
# free up the memory
del dfFullData
del dfFullDataVali

In [28]:
# Get all the columns
col_names = df_train_data.columns

idCols = ['RowID','BeerID','ReviewerID']
feature_cols =  col_names.drop(['RowID','BeerID','ReviewerID','rating' ])
target_col = 'rating'

# Create the sub data sets of the features and the target
dfTrainIds = df_train_data[idCols]
dfTrainFeatures = df_train_data[feature_cols]
dfTrainTarget = df_train_data[target_col]

dfValiIds = df_vali_data[idCols]
dfValiFeatures = df_vali_data[feature_cols]
dfValiTarget = df_vali_data[target_col]

In [29]:
print(dfTrainFeatures.shape)
dfTrainFeatures.head()

(746207, 2192)

,ReviewerReviewCount,BeerReviewCount,ABV,DayofWeek,DayofMonth,Month,Year,TimeOfDay,Birthday,BrewerID_1,...,BeerType_SmokedBeer,BeerType_Tripel,BeerType_ViennaLager,BeerType_Weizenbock,BeerType_Wheatwine,BeerType_WinterWarmer,BeerType_Witbier,Gender_Female,Gender_Male,Gender_unknown
0,200,23,7.4,1,23,5,2011,56188,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10,23,7.4,1,16,5,2011,1906,0,0,...,0,0,0,0,0,0,0,0,1,0
2,164,23,7.4,7,10,4,2011,44246,0,0,...,0,0,0,0,0,0,0,0,0,1
3,432,23,7.4,3,30,3,2011,50880,0,0,...,0,0,0,0,0,0,0,0,1,0
4,500,23,7.4,4,24,3,2011,50820,37,0,...,0,0,0,0,0,0,0,0,1,0

In [30]:
def objective(trial):
  # Create the Light GBM Regression model and train
  model = lgb.LGBMRegressor(objective="regression_l1", metric="mae", random_state=seed
    ,learning_rate=trial.suggest_float("learning_rate", 0.0001, 0.5)
    ,num_leaves=trial.suggest_int("num_leaves", 2, 256)
    ,max_depth=trial.suggest_int("max_depth", 10, 50)
    ,n_estimators=trial.suggest_int("n_estimators ", 10, 1500)
    ,min_split_gain=trial.suggest_float("min_split_gain", 0.001, 1.0)
    ,min_child_samples=trial.suggest_int("min_child_samples", 1, 200)  
    #,min_child_weight =trial.suggest_float("min_child_weight", 0.0001, 0.1) 
    ,subsample =trial.suggest_float("subsample", 0.1, 1.0) 
    ,subsample_freq =trial.suggest_int("subsample_freq", 0, 15)
    ,colsample_bytree =trial.suggest_float("colsample_bytree", 0.1, 1.0) 
    ,reg_alpha =trial.suggest_float("reg_alpha", 0.1, 1.0) 
    ,reg_lambda =trial.suggest_float("reg_lambda", 0.1, 1.0)      
  )

  model.fit(X=dfTrainFeatures, y=dfTrainTarget)

  # Use the model to predict against our validation data
  test_predicted = model.predict(dfValiFeatures)  

  mae = mean_absolute_error(dfValiTarget, test_predicted)

  return mae

In [31]:
study = optuna.create_study(direction="minimize")
study.optimize(objective, n_trials=200)

print("\n---------")
print("Study Complete")
study.best_params

[I 2021-10-22 00:47:50,272] A new study created in memory with name: no-name-4c18e4da-e38d-4389-ae3d-3f3749be0f29
[I 2021-10-22 00:52:23,263] Trial 0 finished with value: 0.49214898020929204 and parameters: {'learning_rate': 0.45166758213274877, 'num_leaves': 217, 'max_depth': 10, 'n_estimators ': 847, 'min_split_gain': 0.6274441862709375, 'min_child_samples': 6, 'subsample': 0.8802453895679407, 'subsample_freq': 1, 'colsample_bytree': 0.2350892291464941, 'reg_alpha': 0.837261005274221, 'reg_lambda': 0.7919635329272813}. Best is trial 0 with value: 0.49214898020929204.
[I 2021-10-22 00:56:36,317] Trial 1 finished with value: 0.485829416088165 and parameters: {'learning_rate': 0.4767063433287476, 'num_leaves': 217, 'max_depth': 37, 'n_estimators ': 185, 'min_split_gain': 0.7747453296819841, 'min_child_samples': 57, 'subsample': 0.38736116794046915, 'subsample_freq': 6, 'colsample_bytree': 0.19020881620056648, 'reg_alpha': 0.21799725115770788, 'reg_lambda': 0.9542483963534442}. Best is trial 1 with value: 0.485829416088165.
[I 2021-10-22 01:00:19,641] Trial 2 finished with value: 0.5094013010051524 and parameters: {'learning_rate': 0.4420766005055887, 'num_leaves': 195, 'max_depth': 27, 'n_estimators ': 344, 'min_split_gain': 0.644315034447078, 'min_child_samples': 1, 'subsample': 0.6403899424340027, 'subsample_freq': 9, 'colsample_bytree': 0.9044116056759509, 'reg_alpha': 0.838826215971136, 'reg_lambda': 0.6382930254150577}. Best is trial 1 with value: 0.485829416088165.
[I 2021-10-22 01:04:42,254] Trial 3 finished with value: 0.4804888116360392 and parameters: {'learning_rate': 0.17720446571575726, 'num_leaves': 115, 'max_depth': 24, 'n_estimators ': 1248, 'min_split_gain': 0.3127466581241737, 'min_child_samples': 76, 'subsample': 0.9121443806537721, 'subsample_freq': 4, 'colsample_bytree': 0.44990983893930114, 'reg_alpha': 0.623982849310109, 'reg_lambda': 0.37182565635541487}. Best is trial 3 with value: 0.4804888116360392.
[I 2021-10-22 01:08:54,713] Trial 4 finished with value: 0.4758119154062903 and parameters: {'learning_rate': 0.17316091851640109, 'num_leaves': 93, 'max_depth': 46, 'n_estimators ': 1198, 'min_split_gain': 0.4245058794783316, 'min_child_samples': 52, 'subsample': 0.6196308524621914, 'subsample_freq': 2, 'colsample_bytree': 0.2578958891658234, 'reg_alpha': 0.9398868979651547, 'reg_lambda': 0.38002643778396406}. Best is trial 4 with value: 0.4758119154062903.
[I 2021-10-22 01:10:42,320] Trial 5 finished with value: 0.5000568185606069 and parameters: {'learning_rate': 0.4303956530952191, 'num_leaves': 201, 'max_depth': 39, 'n_estimators ': 645, 'min_split_gain': 0.05951106680826022, 'min_child_samples': 26, 'subsample': 0.39854827069942633, 'subsample_freq': 9, 'colsample_bytree': 0.18664330960061262, 'reg_alpha': 0.39119114646364705, 'reg_lambda': 0.2637766132286984}. Best is trial 4 with value: 0.4758119154062903.
[I 2021-10-22 01:12:15,129] Trial 6 finished with value: 0.4753163081664128 and parameters: {'learning_rate': 0.03846188387056994, 'num_leaves': 198, 'max_depth': 38, 'n_estimators ': 372, 'min_split_gain': 0.4101214516259705, 'min_child_samples': 151, 'subsample': 0.25380926567434337, 'subsample_freq': 12, 'colsample_bytree': 0.878536062257203, 'reg_alpha': 0.9555496700720528, 'reg_lambda': 0.654114139388632}. Best is trial 6 with value: 0.4753163081664128.
[I 2021-10-22 01:15:04,768] Trial 7 finished with value: 0.47070035173791047 and parameters: {'learning_rate': 0.03753442079299418, 'num_leaves': 211, 'max_depth': 30, 'n_estimators ': 1288, 'min_split_gain': 0.34387494433649163, 'min_child_samples': 10, 'subsample': 0.6441201648185592, 'subsample_freq': 1, 'colsample_bytree': 0.5227602813605945, 'reg_alpha': 0.3820552097255423, 'reg_lambda': 0.40041042987559905}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:16:28,999] Trial 8 finished with value: 0.4754027352201403 and parameters: {'learning_rate': 0.11187898832043898, 'num_leaves': 132, 'max_depth': 35, 'n_estimators ': 146, 'min_split_gain': 0.41688387693114626, 'min_child_samples': 53, 'subsample': 0.7717672919568237, 'subsample_freq': 12, 'colsample_bytree': 0.7658913518104581, 'reg_alpha': 0.6784806055544992, 'reg_lambda': 0.26688301003309156}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:19:27,104] Trial 9 finished with value: 0.4903100926863614 and parameters: {'learning_rate': 0.15822715830620565, 'num_leaves': 217, 'max_depth': 27, 'n_estimators ': 1271, 'min_split_gain': 0.9194750080809861, 'min_child_samples': 19, 'subsample': 0.3998569974220145, 'subsample_freq': 5, 'colsample_bytree': 0.4651598985235318, 'reg_alpha': 0.7042432114299851, 'reg_lambda': 0.18983439348019493}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:20:43,726] Trial 10 finished with value: 0.48166423097271094 and parameters: {'learning_rate': 0.30205741919325574, 'num_leaves': 11, 'max_depth': 14, 'n_estimators ': 1489, 'min_split_gain': 0.10368122561496365, 'min_child_samples': 124, 'subsample': 0.11779049510576733, 'subsample_freq': 1, 'colsample_bytree': 0.677323816310164, 'reg_alpha': 0.39765165271321695, 'reg_lambda': 0.47579949601922367}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:22:06,617] Trial 11 finished with value: 0.48620623381149186 and parameters: {'learning_rate': 0.0007996705182254857, 'num_leaves': 254, 'max_depth': 50, 'n_estimators ': 603, 'min_split_gain': 0.23987038366048385, 'min_child_samples': 187, 'subsample': 0.10916146781033029, 'subsample_freq': 15, 'colsample_bytree': 0.9383454634929975, 'reg_alpha': 0.11352652552753079, 'reg_lambda': 0.6255173750820964}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:23:36,911] Trial 12 finished with value: 0.4718198928696328 and parameters: {'learning_rate': 0.014345272864226377, 'num_leaves': 160, 'max_depth': 19, 'n_estimators ': 904, 'min_split_gain': 0.552372980949219, 'min_child_samples': 142, 'subsample': 0.2801010888803036, 'subsample_freq': 12, 'colsample_bytree': 0.6217788153770101, 'reg_alpha': 0.42060334697734836, 'reg_lambda': 0.7248804443596892}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:25:19,995] Trial 13 finished with value: 0.47944337368814155 and parameters: {'learning_rate': 0.07867888491931134, 'num_leaves': 153, 'max_depth': 20, 'n_estimators ': 947, 'min_split_gain': 0.6023454252412324, 'min_child_samples': 118, 'subsample': 0.4807560036834292, 'subsample_freq': 12, 'colsample_bytree': 0.6159682719180379, 'reg_alpha': 0.45939360592292716, 'reg_lambda': 0.8296233056831184}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:27:15,998] Trial 14 finished with value: 0.48764135130648667 and parameters: {'learning_rate': 0.30032460779724957, 'num_leaves': 161, 'max_depth': 19, 'n_estimators ': 1017, 'min_split_gain': 0.16738729945102665, 'min_child_samples': 165, 'subsample': 0.7568517708370066, 'subsample_freq': 15, 'colsample_bytree': 0.4705113686033969, 'reg_alpha': 0.26622426628564244, 'reg_lambda': 0.4861147261920746}. Best is trial 7 with value: 0.47070035173791047.
[I 2021-10-22 01:29:21,269] Trial 15 finished with value: 0.4682699907128251 and parameters: {'learning_rate': 0.011404215176430145, 'num_leaves': 72, 'max_depth': 32, 'n_estimators ': 1483, 'min_split_gain': 0.5181844597826297, 'min_child_samples': 100, 'subsample': 0.2666845932384503, 'subsample_freq': 8, 'colsample_bytree': 0.3370306196489159, 'reg_alpha': 0.5053894260818201, 'reg_lambda': 0.7933701244828162}. Best is trial 15 with value: 0.4682699907128251.
[I 2021-10-22 01:31:19,229] Trial 16 finished with value: 0.4719405295767117 and parameters: {'learning_rate': 0.09017061775093632, 'num_leaves': 57, 'max_depth': 33, 'n_estimators ': 1421, 'min_split_gain': 0.8044694851562735, 'min_child_samples': 94, 'subsample': 0.5564586635691918, 'subsample_freq': 8, 'colsample_bytree': 0.32429037713769493, 'reg_alpha': 0.5638036214006841, 'reg_lambda': 0.9934265489928499}. Best is trial 15 with value: 0.4682699907128251.
[I 2021-10-22 01:33:12,337] Trial 17 finished with value: 0.47892279297131873 and parameters: {'learning_rate': 0.26243331701002987, 'num_leaves': 62, 'max_depth': 31, 'n_estimators ': 1124, 'min_split_gain': 0.253526012688394, 'min_child_samples': 82, 'subsample': 0.7328320002335129, 'subsample_freq': 3, 'colsample_bytree': 0.3656870048758705, 'reg_alpha': 0.31413050026539957, 'reg_lambda': 0.870128801562174}. Best is trial 15 with value: 0.4682699907128251.
[I 2021-10-22 01:34:50,885] Trial 18 finished with value: 0.46858297378326746 and parameters: {'learning_rate': 0.06140727089197155, 'num_leaves': 15, 'max_depth': 42, 'n_estimators ': 1359, 'min_split_gain': 0.4820000863035951, 'min_child_samples': 112, 'subsample': 0.2642668496263084, 'subsample_freq': 6, 'colsample_bytree': 0.3910266447877526, 'reg_alpha': 0.5180812017809272, 'reg_lambda': 0.11039791989391279}. Best is trial 15 with value: 0.4682699907128251.
[I 2021-10-22 01:36:07,331] Trial 19 finished with value: 0.46761662569234114 and parameters: {'learning_rate': 0.1299473576507652, 'num_leaves': 9, 'max_depth': 43, 'n_estimators ': 1402, 'min_split_gain': 0.73713485305905, 'min_child_samples': 129, 'subsample': 0.2453423916475291, 'subsample_freq': 7, 'colsample_bytree': 0.13144011481077866, 'reg_alpha': 0.5121530545684858, 'reg_lambda': 0.1829729249493074}. Best is trial 19 with value: 0.46761662569234114.
[I 2021-10-22 01:37:36,989] Trial 20 finished with value: 0.4799151776059059 and parameters: {'learning_rate': 0.22515451966821293, 'num_leaves': 42, 'max_depth': 43, 'n_estimators ': 1474, 'min_split_gain': 0.7612309283372163, 'min_child_samples': 199, 'subsample': 0.1956567131068253, 'subsample_freq': 10, 'colsample_bytree': 0.3002746326799227, 'reg_alpha': 0.5373222777075449, 'reg_lambda': 0.5544011247500309}. Best is trial 19 with value: 0.46761662569234114.
[I 2021-10-22 01:38:50,222] Trial 21 finished with value: 0.46980868416713584 and parameters: {'learning_rate': 0.13185500537858427, 'num_leaves': 13, 'max_depth': 43, 'n_estimators ': 1330, 'min_split_gain': 0.5072672448300922, 'min_child_samples': 114, 'subsample': 0.2961699130308478, 'subsample_freq': 6, 'colsample_bytree': 0.3861583329961529, 'reg_alpha': 0.5155450304958006, 'reg_lambda': 0.1330388544610424}. Best is trial 19 with value: 0.46761662569234114.
[I 2021-10-22 01:40:10,003] Trial 22 finished with value: 0.4701237684796073 and parameters: {'learning_rate': 0.08902411085976422, 'num_leaves': 31, 'max_depth': 50, 'n_estimators ': 1092, 'min_split_gain': 0.9816679598134843, 'min_child_samples': 139, 'subsample': 0.20614266277781357, 'subsample_freq': 7, 'colsample_bytree': 0.15317627512233678, 'reg_alpha': 0.6723454724149805, 'reg_lambda': 0.10111265139933179}. Best is trial 19 with value: 0.46761662569234114.
[I 2021-10-22 01:42:01,305] Trial 23 finished with value: 0.46718118503095885 and parameters: {'learning_rate': 0.05276070506519447, 'num_leaves': 81, 'max_depth': 42, 'n_estimators ': 1356, 'min_split_gain': 0.6926532801376543, 'min_child_samples': 105, 'subsample': 0.33000713681296323, 'subsample_freq': 7, 'colsample_bytree': 0.1257892585596555, 'reg_alpha': 0.5956291956727195, 'reg_lambda': 0.28654005289040996}. Best is trial 23 with value: 0.46718118503095885.
[I 2021-10-22 01:43:42,493] Trial 24 finished with value: 0.4715090044380809 and parameters: {'learning_rate': 0.1349523521780855, 'num_leaves': 86, 'max_depth': 40, 'n_estimators ': 1150, 'min_split_gain': 0.8864830682041301, 'min_child_samples': 95, 'subsample': 0.33998520999831616, 'subsample_freq': 10, 'colsample_bytree': 0.12820228023949914, 'reg_alpha': 0.7529100941064972, 'reg_lambda': 0.2603973969292009}. Best is trial 23 with value: 0.46718118503095885.
[I 2021-10-22 01:45:46,251] Trial 25 finished with value: 0.4666681843923297 and parameters: {'learning_rate': 0.05083493055917054, 'num_leaves': 69, 'max_depth': 46, 'n_estimators ': 1494, 'min_split_gain': 0.7149528338554062, 'min_child_samples': 72, 'subsample': 0.49661134547399904, 'subsample_freq': 8, 'colsample_bytree': 0.11602083251760736, 'reg_alpha': 0.6214590012113882, 'reg_lambda': 0.2011425193035886}. Best is trial 25 with value: 0.4666681843923297.
[I 2021-10-22 01:47:13,658] Trial 26 finished with value: 0.47303752760121465 and parameters: {'learning_rate': 0.20765660195806465, 'num_leaves': 110, 'max_depth': 47, 'n_estimators ': 1353, 'min_split_gain': 0.7006793966958847, 'min_child_samples': 82, 'subsample': 0.4740398390061776, 'subsample_freq': 5, 'colsample_bytree': 0.10302355203822836, 'reg_alpha': 0.5962960382141604, 'reg_lambda': 0.20926991753359547}. Best is trial 25 with value: 0.4666681843923297.
[I 2021-10-22 01:48:18,626] Trial 27 finished with value: 0.4675563872309558 and parameters: {'learning_rate': 0.05400724601128959, 'num_leaves': 37, 'max_depth': 46, 'n_estimators ': 747, 'min_split_gain': 0.8239687721692475, 'min_child_samples': 68, 'subsample': 0.4732647850634717, 'subsample_freq': 7, 'colsample_bytree': 0.24214496306651997, 'reg_alpha': 0.7611312852358508, 'reg_lambda': 0.3298859427734126}. Best is trial 25 with value: 0.4666681843923297.
[I 2021-10-22 01:49:21,067] Trial 28 finished with value: 0.47513843775856984 and parameters: {'learning_rate': 0.36338775653229477, 'num_leaves': 41, 'max_depth': 47, 'n_estimators ': 740, 'min_split_gain': 0.8415735914934519, 'min_child_samples': 38, 'subsample': 0.485878251842034, 'subsample_freq': 10, 'colsample_bytree': 0.253404117239425, 'reg_alpha': 0.7688991681168601, 'reg_lambda': 0.33250792741665425}. Best is trial 25 with value: 0.4666681843923297.
[I 2021-10-22 01:50:36,419] Trial 29 finished with value: 0.4669003237623075 and parameters: {'learning_rate': 0.049618104044425404, 'num_leaves': 81, 'max_depth': 45, 'n_estimators ': 781, 'min_split_gain': 0.6780453434680207, 'min_child_samples': 67, 'subsample': 0.5617975109702935, 'subsample_freq': 3, 'colsample_bytree': 0.21151346849893915, 'reg_alpha': 0.8705985027352175, 'reg_lambda': 0.3034617781836283}. Best is trial 25 with value: 0.4666681843923297.
[I 2021-10-22 01:51:30,476] Trial 30 finished with value: 0.46378598528563 and parameters: {'learning_rate': 0.09392599882119548, 'num_leaves': 89, 'max_depth': 35, 'n_estimators ': 504, 'min_split_gain': 0.6555209560817739, 'min_child_samples': 33, 'subsample': 0.545973775812319, 'subsample_freq': 0, 'colsample_bytree': 0.16571154425219983, 'reg_alpha': 0.8739184114027996, 'reg_lambda': 0.45880408349232205}. Best is trial 30 with value: 0.46378598528563.
[I 2021-10-22 01:52:24,747] Trial 31 finished with value: 0.4656047017267638 and parameters: {'learning_rate': 0.09764281748141594, 'num_leaves': 87, 'max_depth': 35, 'n_estimators ': 517, 'min_split_gain': 0.6372768452297211, 'min_child_samples': 36, 'subsample': 0.9966808044670841, 'subsample_freq': 0, 'colsample_bytree': 0.19926350613096844, 'reg_alpha': 0.8745901263835791, 'reg_lambda': 0.4503116738925377}. Best is trial 30 with value: 0.46378598528563.
[I 2021-10-22 01:53:14,359] Trial 32 finished with value: 0.4651899731686312 and parameters: {'learning_rate': 0.10885848045914548, 'num_leaves': 101, 'max_depth': 35, 'n_estimators ': 398, 'min_split_gain': 0.6182602801004724, 'min_child_samples': 38, 'subsample': 0.9991817577746681, 'subsample_freq': 0, 'colsample_bytree': 0.17559939854813933, 'reg_alpha': 0.8795181269937976, 'reg_lambda': 0.4621785391509915}. Best is trial 30 with value: 0.46378598528563.
[I 2021-10-22 01:54:05,661] Trial 33 finished with value: 0.46403109416825233 and parameters: {'learning_rate': 0.11294572600547663, 'num_leaves': 97, 'max_depth': 35, 'n_estimators ': 448, 'min_split_gain': 0.6000944446933645, 'min_child_samples': 33, 'subsample': 0.9557044618579494, 'subsample_freq': 0, 'colsample_bytree': 0.18832596015600575, 'reg_alpha': 0.8876079036176147, 'reg_lambda': 0.45837256699423007}. Best is trial 30 with value: 0.46378598528563.
[I 2021-10-22 01:54:56,861] Trial 34 finished with value: 0.46338874540827657 and parameters: {'learning_rate': 0.10610526262209834, 'num_leaves': 105, 'max_depth': 35, 'n_estimators ': 432, 'min_split_gain': 0.6115770278440552, 'min_child_samples': 44, 'subsample': 0.9949907578976571, 'subsample_freq': 0, 'colsample_bytree': 0.18633205254032828, 'reg_alpha': 0.8960127842848625, 'reg_lambda': 0.4498539975199271}. Best is trial 34 with value: 0.46338874540827657.
[I 2021-10-22 01:55:42,310] Trial 35 finished with value: 0.4678317276771289 and parameters: {'learning_rate': 0.19795637327481666, 'num_leaves': 110, 'max_depth': 27, 'n_estimators ': 269, 'min_split_gain': 0.5798370192984119, 'min_child_samples': 37, 'subsample': 0.9997634946244548, 'subsample_freq': 0, 'colsample_bytree': 0.25633993191456106, 'reg_alpha': 0.9951834436176227, 'reg_lambda': 0.5474886767887318}. Best is trial 34 with value: 0.46338874540827657.
[I 2021-10-22 01:56:22,497] Trial 36 finished with value: 0.4706754760832201 and parameters: {'learning_rate': 0.16118641403450468, 'num_leaves': 133, 'max_depth': 36, 'n_estimators ': 36, 'min_split_gain': 0.6271945528060463, 'min_child_samples': 21, 'subsample': 0.9106717875618785, 'subsample_freq': 2, 'colsample_bytree': 0.17262075947060446, 'reg_alpha': 0.8136947139107698, 'reg_lambda': 0.5282598569898097}. Best is trial 34 with value: 0.46338874540827657.
[I 2021-10-22 01:57:16,295] Trial 37 finished with value: 0.4659282507141994 and parameters: {'learning_rate': 0.11807104547773906, 'num_leaves': 101, 'max_depth': 34, 'n_estimators ': 461, 'min_split_gain': 0.4664593870525314, 'min_child_samples': 45, 'subsample': 0.8344300150635193, 'subsample_freq': 0, 'colsample_bytree': 0.2835783631079036, 'reg_alpha': 0.9121036230477506, 'reg_lambda': 0.4208110781274846}. Best is trial 34 with value: 0.46338874540827657.
[I 2021-10-22 01:58:14,235] Trial 38 finished with value: 0.46806575425314956 and parameters: {'learning_rate': 0.2483736135758925, 'num_leaves': 122, 'max_depth': 28, 'n_estimators ': 360, 'min_split_gain': 0.5567659340277104, 'min_child_samples': 2, 'subsample': 0.9508629379707431, 'subsample_freq': 2, 'colsample_bytree': 0.20197294977919794, 'reg_alpha': 0.9985310837391691, 'reg_lambda': 0.5959158703553009}. Best is trial 34 with value: 0.46338874540827657.
[I 2021-10-22 01:59:09,474] Trial 39 finished with value: 0.46672667574377524 and parameters: {'learning_rate': 0.1850120430889855, 'num_leaves': 143, 'max_depth': 38, 'n_estimators ': 452, 'min_split_gain': 0.3496544259764336, 'min_child_samples': 28, 'subsample': 0.8366954498274256, 'subsample_freq': 1, 'colsample_bytree': 0.16746798780439057, 'reg_alpha': 0.8104614325368544, 'reg_lambda': 0.7088969688978173}. Best is trial 34 with value: 0.46338874540827657.
[I 2021-10-22 02:00:12,384] Trial 40 finished with value: 0.4765148286980959 and parameters: {'learning_rate': 0.1488223036317194, 'num_leaves': 101, 'max_depth': 25, 'n_estimators ': 620, 'min_split_gain': 0.6080565994055978, 'min_child_samples': 60, 'subsample': 0.7008778995855494, 'subsample_freq': 3, 'colsample_bytree': 0.4314421592723834, 'reg_alpha': 0.9305729667619667, 'reg_lambda': 0.4211687308159032}. Best is trial 34 with value: 0.46338874540827657.
[I 2021-10-22 02:01:10,811] Trial 41 finished with value: 0.466764655070402 and parameters: {'learning_rate': 0.11139479477383309, 'num_leaves': 178, 'max_depth': 36, 'n_estimators ': 514, 'min_split_gain': 0.6670730881332676, 'min_child_samples': 15, 'subsample': 0.9965471745325412, 'subsample_freq': 0, 'colsample_bytree': 0.2095709731544112, 'reg_alpha': 0.870003977128485, 'reg_lambda': 0.4726021492760987}. Best is trial 34 with value: 0.46338874540827657.

In [ ]:
print(study.best_params)
print("Best Rank Score: " + str(study.best_value))
print("-------")
print(study.best_trial)

# Results

### Full Features - All Cols
* 50 trial of just top 4 params (4 min ish):
* {'learning_rate': 0.09075359977364383, 'num_leaves': 120, 'max_depth': 40, 'n_estimators ': 248, 'min_split_gain': 0.6310082232017945, 'min_child_samples': 35, 'subsample': 0.9466694477903548, 'subsample_freq': 0, 'colsample_bytree': 0.29392263338193186, 'reg_alpha': 0.891904482598078, 'reg_lambda': 0.4521335679885054}.
* Best is trial 23 with value: 0.46338874540827657


### All Cols
* 100 trial of just top 4 params (4 min ish):
* {'learning_rate': 0.012319449084467107, 'num_leaves': 117, 'max_depth': 22, 'n_estimators ': 295}
* Best Rank Score: 0.4454081741693529

### Beer Context
* 100 Trial of just the top 4 params (25 minutes):
* {'learning_rate': 0.010443500090385492, 'num_leaves': 68, 'max_depth': 14, 'n_estimators ': 608}
* Best Rank Score: 0.4450000625985502


### Consumer Context
* 100 Trial of just the top 4 params (25 minutes):
* {'learning_rate': 0.26879548049242075, 'num_leaves': 91, 'max_depth': 2, 'n_estimators ': 384}
* Best Rank Score: 0.4599019635783294