In [1]:
# Import libraries
import pandas as pd
import numpy as np

from lightfm import LightFM

from surprise import Dataset
from surprise import Reader
from surprise import accuracy
from surprise.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error

from utilities import data_basic_utility as databasic
from utilities import dataframe_utility as dfutil
import features_utility as featutil

C:\Users\nelso\AppData\Local\Programs\Python\Python39\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

## File Details - Light GBM Regression on Beer Context columns inc review counts

This is a Candidate for being used in an Ensemble. 
Characteristicts:
* Light GBM Regression Algorithm
* Using Beer Context columns inc ABV, Year and Review Counts
* Todo: use optimised parameters for Light GBM Regression

In [2]:
filePrefix = "A3_161_contentknn_tinkering2"
baseDataDir = "C:/Development/Data/COSC2670/Assignment3/A3data/"
subrunDir = "subruns/"
writeSubRunFile = True
seed = databasic.get_random_seed()

In [3]:
# trainFilePath = baseDataDir + 'train.tsv'
# valiFilePath = baseDataDir + 'val.tsv'
# featuresFilePath = baseDataDir + 'features.tsv'
# testFilePath = baseDataDir + 'test.tsv'

trainFilePath = baseDataDir + 'train_200k.tsv'
valiFilePath = baseDataDir + 'vali_200k.tsv'
featuresFilePath = baseDataDir + 'features_200k.tsv'
testFilePath = baseDataDir + 'test_200k.tsv'

In [4]:
# RowID  BeerID  ReviewerID  BeerName  BeerType  Label
df_train = pd.read_csv(trainFilePath,sep='\t',
                         names=['RowID','BeerID','ReviewerID',
                                  'BeerName','BeerType','rating'])
df_train.head(10)

# df_vali = pd.read_csv(baseDataDir + 'vali_500k.tsv',sep='\t',
df_vali = pd.read_csv(valiFilePath,sep='\t',
                         names=['RowID','BeerID','ReviewerID',
                                  'BeerName','BeerType','rating'])
df_vali.head(10)

,RowID,BeerID,ReviewerID,BeerName,BeerType,rating
0,22,12300,2634,Rauch �r Bock,Rauchbier,4.0
1,27,12300,5634,Rauch �r Bock,Rauchbier,4.5
2,28,12300,3544,Rauch �r Bock,Rauchbier,4.5
3,40,12300,6521,Rauch �r Bock,Rauchbier,4.0
4,43,12300,10177,Rauch �r Bock,Rauchbier,4.5
5,48,12300,2907,Rauch �r Bock,Rauchbier,3.5
6,49,12300,1532,Rauch �r Bock,Rauchbier,4.0
7,50,12300,3452,Rauch �r Bock,Rauchbier,3.5
8,59,12300,6861,Rauch �r Bock,Rauchbier,4.0
9,64,6699,6401,Caldera Pale Ale,American Pale Ale (APA),4.5

Add the Review Count columns for Reviewers and Beers to both the Train and Validation sets

In [5]:
df_train = featutil.addReviewerReviewCount(df_train)
df_train = featutil.addBeerReviewCount(df_train)

df_vali = featutil.addReviewerReviewCount(df_vali)
df_vali = featutil.addBeerReviewCount(df_vali)

In [6]:
# RowID BrewerID ABV DayofWeek Month DayofMonth Year TimeOfDay Gender Birthday Text Lemmatized POS_Tag
# df_features = pd.read_csv(baseDataDir + 'features_500k.tsv',sep='\t', names=['RowID','BrewerID','ABV','DayofWeek','Month',
df_features = pd.read_csv(featuresFilePath,sep='\t', names=['RowID','BrewerID','ABV','DayofWeek','Month',
                                                                 'DayofMonth','Year','TimeOfDay','Gender',
                                                                 'Birthday','Text','Lemmatized','POS_Tag'])

df_features.head()

,RowID,BrewerID,ABV,DayofWeek,Month,DayofMonth,Year,TimeOfDay,Gender,Birthday,Text,Lemmatized,POS_Tag
0,18,1075,7.4,Mon,Jan,2,2012,15:20:04,Male,unknown,Pours a murky light brown with a 1 inch fizzy ...,pour a murky light brown with a 1 inch fizzy t...,VBZ DT JJ NN JJ IN DT CD NN JJ NN NN WDT VBZ I...
1,19,1075,7.4,Sun,Jan,1,2012,06:46:52,Male,unknown,Faint sudsy head with some with some dissipati...,faint sudsy head with some with some dissipate...,NN JJ NN IN DT IN DT VBG JJ NN . JJ JJ NN . DT...
2,20,1075,7.4,Tue,Nov,29,2011,05:51:44,Male,unknown,A new arrival to the West TN area ... Pours qu...,a new arrival to the West TN area ... pour qui...,"DT JJ NN IN DT NNP NNP NN , VBZ PDT DT NN JJR ..."
3,21,1075,7.4,Sat,Nov,5,2011,22:59:57,Male,unknown,Sampled 10/30/11 - Transferring the notes . A ...,sample 10/30/11 - transfer the note . a ruby p...,VBN CD HYPH VBG DT NNS . DT NN VBP IN DT NN NN...
4,22,1075,7.4,Tue,Nov,1,2011,20:40:21,Male,"Oct 14, 1983",This is my first rauchbier . Pours a burnt amb...,this be my first rauchbier . pour a burn amber...,DT VBZ PRP$ JJ NN . VBZ DT VBN NN . JJ NN . NN...

In [7]:
colsToUse = ["RowID", "BrewerID", "ABV", "DayofWeek", "DayofMonth", "Month", "Year", "Gender", "TimeOfDay", "Birthday"]

# Find the feature records that match the training and validation data and join them together
dfFullData = df_train.join(df_features[colsToUse], on="RowID", how="inner", rsuffix="Feat")
dfFullDataVali = df_vali.join(df_features[colsToUse], on="RowID", how="inner", rsuffix="Feat")

dfFullData.head()

,RowID,BeerID,ReviewerID,BeerName,BeerType,rating,ReviewerReviewCount,BeerReviewCount,RowIDFeat,BrewerID,ABV,DayofWeek,DayofMonth,Month,Year,Gender,TimeOfDay,Birthday
0,19,12300,10635,Rauch �r Bock,Rauchbier,4.0,36,23,37,1075,7.4,Mon,23,May,2011,Male,15:36:28,unknown
1,21,12300,6547,Rauch �r Bock,Rauchbier,4.5,4,23,40,1075,7.4,Mon,16,May,2011,Male,00:31:46,unknown
2,23,12300,9789,Rauch �r Bock,Rauchbier,4.5,36,23,42,1075,7.4,Sun,10,Apr,2011,unknown,12:17:26,unknown
3,24,12300,7372,Rauch �r Bock,Rauchbier,5.0,69,23,43,1075,7.4,Wed,30,Mar,2011,Male,14:08:00,unknown
4,25,12300,1302,Rauch �r Bock,Rauchbier,4.5,59,23,45,1075,7.4,Thu,24,Mar,2011,Male,14:07:00,"Jul 25, 1984"

In [8]:
# Remove the duplicated Row ID, also remove Beer Name at this point, we're nt using it
df_train_data = dfFullData.drop(['RowIDFeat', "BeerName"],axis=1)
df_vali_data = dfFullDataVali.drop(['RowIDFeat', "BeerName"],axis=1)

df_train_data.head()

,RowID,BeerID,ReviewerID,BeerType,rating,ReviewerReviewCount,BeerReviewCount,BrewerID,ABV,DayofWeek,DayofMonth,Month,Year,Gender,TimeOfDay,Birthday
0,19,12300,10635,Rauchbier,4.0,36,23,1075,7.4,Mon,23,May,2011,Male,15:36:28,unknown
1,21,12300,6547,Rauchbier,4.5,4,23,1075,7.4,Mon,16,May,2011,Male,00:31:46,unknown
2,23,12300,9789,Rauchbier,4.5,36,23,1075,7.4,Sun,10,Apr,2011,unknown,12:17:26,unknown
3,24,12300,7372,Rauchbier,5.0,69,23,1075,7.4,Wed,30,Mar,2011,Male,14:08:00,unknown
4,25,12300,1302,Rauchbier,4.5,59,23,1075,7.4,Thu,24,Mar,2011,Male,14:07:00,"Jul 25, 1984"

In [9]:
print(df_train_data.shape)
print(df_vali_data.shape)

(106546, 16)
(35089, 16)

In [10]:
colsToUse.append("BeerType")
colsToUse.append("ReviewerReviewCount")
colsToUse.append("BeerReviewCount")

considerCol = {}

# Initialize them all to True, use all the cols
for colName in colsToUse:
  considerCol[colName] = True

# "RowID", "BrewerID", "BeerType", "ABV", "DayofWeek", "DayofMonth", "Month", "Year", "Gender", "TimeOfDay"
# Disable any column we want

# Usually always use Year and REview Counts
# considerCol["Year"] = False
# considerCol["ReviewerReviewCount"] = False
# considerCol["BeerReviewCount"] = False

# Beer Context Columns
# considerCol["ABV"] = False
# considerCol["BrewerID"] = False
# considerCol["BeerType"] = False

# Consumer Context Columns
# considerCol["DayofWeek"] = False
# considerCol["DayofMonth"] = False
# considerCol["Month"] = False
# considerCol["TimeOfDay"] = False
# considerCol["Birthday"] = False
# considerCol["Gender"] = False

In [11]:
if considerCol["ABV"] == False:
  del df_train_data["ABV"]
  del df_vali_data["ABV"]
else:
  df_train_data = featutil.fixNullABV(df_train_data)
  df_vali_data = featutil.fixNullABV(df_vali_data)

In [12]:
if considerCol["BrewerID"] == False:
  del df_train_data["BrewerID"]
  del df_vali_data["BrewerID"]
else: 
  df_train_data, df_vali_data = dfutil.getDummiesForSplitSets(df_train_data, df_vali_data, "BrewerID")

c:\Development\COSC2670\Assignment3\utilities\dataframe_utility.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_combined.columns = df_combined.columns.str.replace(" ", "").str.replace("/", "").str.replace("-", "") \

In [13]:
if considerCol["BeerType"] == False:
  del df_train_data["BeerType"]
  del df_vali_data["BeerType"]
else: 
  df_train_data, df_vali_data = dfutil.getDummiesForSplitSets(df_train_data, df_vali_data, "BeerType")

In [14]:
if considerCol["Gender"] == False:
  del df_train_data["Gender"]
  del df_vali_data["Gender"]
else: 
  df_train_data, df_vali_data = dfutil.getDummiesForSplitSets(df_train_data, df_vali_data, "Gender")

In [15]:
if considerCol["DayofWeek"] == False:
  del df_train_data["DayofWeek"]
  del df_vali_data["DayofWeek"]
else: 
  df_train_data = featutil.formatDayOfWeek(df_train_data)
  df_vali_data = featutil.formatDayOfWeek(df_vali_data)

In [16]:
if considerCol["Month"] == False:
  del df_train_data["Month"]
  del df_vali_data["Month"]
else: 
  df_train_data = featutil.formatMonth(df_train_data)
  df_vali_data = featutil.formatMonth(df_vali_data)

In [17]:
if considerCol["DayofMonth"] == False:
  del df_train_data["DayofMonth"]
  del df_vali_data["DayofMonth"]

In [18]:
if considerCol["Year"] == False:
  del df_train_data["Year"]
  del df_vali_data["Year"]

In [19]:
if considerCol["TimeOfDay"] == False:
  del df_train_data["TimeOfDay"]
  del df_vali_data["TimeOfDay"]
else: 
  df_train_data = featutil.formatTimeToSec(df_train_data)
  df_vali_data = featutil.formatTimeToSec(df_vali_data)

In [20]:
if considerCol["Birthday"] == False:
  del df_train_data["Birthday"]
  del df_vali_data["Birthday"]
else: 
  df_train_data = featutil.convertBirthdayToAge(df_train_data)
  df_vali_data = featutil.convertBirthdayToAge(df_vali_data)

In [21]:
if considerCol["ReviewerReviewCount"] == False:
  del df_train_data["ReviewerReviewCount"]
  del df_vali_data["ReviewerReviewCount"]

In [22]:
if considerCol["BeerReviewCount"] == False:
  del df_train_data["BeerReviewCount"]
  del df_vali_data["BeerReviewCount"]

In [23]:
print(df_train_data.shape)
print(df_vali_data.shape)

df_train_data.head()

(106546, 403)
(35089, 403)

,RowID,BeerID,ReviewerID,rating,ReviewerReviewCount,BeerReviewCount,ABV,DayofWeek,DayofMonth,Month,...,BeerType_SmokedBeer,BeerType_Tripel,BeerType_ViennaLager,BeerType_Weizenbock,BeerType_Wheatwine,BeerType_WinterWarmer,BeerType_Witbier,Gender_Female,Gender_Male,Gender_unknown
0,19,12300,10635,4.0,36,23,7.4,1,23,5,...,0,0,0,0,0,0,0,0,1,0
1,21,12300,6547,4.5,4,23,7.4,1,16,5,...,0,0,0,0,0,0,0,0,1,0
2,23,12300,9789,4.5,36,23,7.4,7,10,4,...,0,0,0,0,0,0,0,0,0,1
3,24,12300,7372,5.0,69,23,7.4,3,30,3,...,0,0,0,0,0,0,0,0,1,0
4,25,12300,1302,4.5,59,23,7.4,4,24,3,...,0,0,0,0,0,0,0,0,1,0

In [24]:
df_vali_data.head()

,RowID,BeerID,ReviewerID,rating,ReviewerReviewCount,BeerReviewCount,ABV,DayofWeek,DayofMonth,Month,...,BeerType_SmokedBeer,BeerType_Tripel,BeerType_ViennaLager,BeerType_Weizenbock,BeerType_Wheatwine,BeerType_WinterWarmer,BeerType_Witbier,Gender_Female,Gender_Male,Gender_unknown
0,22,12300,2634,4.0,4,9,7.4,6,14,5,...,0,0,0,0,0,0,0,0,0,1
1,27,12300,5634,4.5,9,9,7.4,4,10,2,...,0,0,0,0,0,0,0,0,0,1
2,28,12300,3544,4.5,40,9,7.4,5,10,12,...,0,0,0,0,0,0,0,0,0,1
3,40,12300,6521,4.0,19,9,5.5,4,27,8,...,0,0,0,0,0,0,0,0,1,0
4,43,12300,10177,4.5,2,9,5.5,1,10,8,...,0,0,0,0,0,0,0,1,0,0

In [25]:
# free up the memory
del dfFullData
del dfFullDataVali

In [26]:
# Get all the columns
col_names = df_train_data.columns

idCols = ['RowID','BeerID','ReviewerID']
feature_cols =  col_names.drop(['RowID','BeerID','ReviewerID','rating' ])
target_col = 'rating'

# Create the sub data sets of the features and the target
dfTrainIds = df_train_data[idCols]
dfTrainFeatures = df_train_data[feature_cols]
dfTrainTarget = df_train_data[target_col]

dfValiIds = df_vali_data[idCols]
dfValiFeatures = df_vali_data[feature_cols]
dfValiTarget = df_vali_data[target_col]

In [27]:
df_vali_data[['BeerID','ReviewerID','rating']].head()

   BeerID  ReviewerID  rating
0   12300        2634     4.0
1   12300        5634     4.5
2   12300        3544     4.5
3   12300        6521     4.0
4   12300       10177     4.5

In [28]:
df_train_data.head()

,RowID,BeerID,ReviewerID,rating,ReviewerReviewCount,BeerReviewCount,ABV,DayofWeek,DayofMonth,Month,...,BeerType_SmokedBeer,BeerType_Tripel,BeerType_ViennaLager,BeerType_Weizenbock,BeerType_Wheatwine,BeerType_WinterWarmer,BeerType_Witbier,Gender_Female,Gender_Male,Gender_unknown
0,19,12300,10635,4.0,36,23,7.4,1,23,5,...,0,0,0,0,0,0,0,0,1,0
1,21,12300,6547,4.5,4,23,7.4,1,16,5,...,0,0,0,0,0,0,0,0,1,0
2,23,12300,9789,4.5,36,23,7.4,7,10,4,...,0,0,0,0,0,0,0,0,0,1
3,24,12300,7372,5.0,69,23,7.4,3,30,3,...,0,0,0,0,0,0,0,0,1,0
4,25,12300,1302,4.5,59,23,7.4,4,24,3,...,0,0,0,0,0,0,0,0,1,0

In [29]:
from lightfm.data import Dataset

beerIds = dfTrainIds["BeerID"].drop_duplicates()
reviewerIds = dfTrainIds["ReviewerID"].drop_duplicates()

In [30]:

def generate_feature_list(dataframe, features_name):
    """
    Generate features list for mapping 

    Parameters
    ----------
    dataframe: Dataframe
        Pandas Dataframe for Users or Q&A. 
    features_name : List
        List of feature columns name avaiable in dataframe. 
        
    Returns
    -------
    List of all features for mapping 
    """
    features = dataframe[features_name].apply(
        lambda x: ','.join(x.map(str)), axis=1)
    features = features.str.split(',')
    features = features.apply(pd.Series).stack().reset_index(drop=True)
    return features

In [31]:
beerFeatureCols = ["BeerReviewCount", "ABV"]
reviewerFeatureCols = ["ReviewerReviewCount", "DayofWeek", "DayofMonth", "Month", "Year"]

beerFeatures = generate_feature_list(df_train_data[beerFeatureCols], beerFeatureCols)
reviewerFeatures = generate_feature_list(df_train_data[reviewerFeatureCols], reviewerFeatureCols)

In [44]:

def create_features(dataframe, features_name, id_col_name):
    """
    Generate features that will be ready for feeding into lightfm

    Parameters
    ----------
    dataframe: Dataframe
        Pandas Dataframe which contains features
    features_name : List
        List of feature columns name avaiable in dataframe
    id_col_name: String
        Column name which contains id of the question or
        answer that the features will map to.
        There are two possible values for this variable.
        1. questions_id_num
        2. professionals_id_num

    Returns
    -------
    Pandas Series
        A pandas series containing process features
        that are ready for feed into lightfm.
        The format of each value
        will be (user_id, ['feature_1', 'feature_2', 'feature_3'])
        Ex. -> (1, ['military', 'army', '5'])
    """

    features = dataframe[features_name].apply(
        lambda x: ','.join(x.map(str)), axis=1)
    features = features.str.split(',')
    features = list(zip(dataframe[id_col_name], features))
    return features

In [34]:
beerFeatures

0         23.0
1          7.4
2         23.0
3          7.4
4         23.0
          ...
213087     5.0
213088     4.0
213089     5.0
213090     4.0
213091     5.0
Length: 213092, dtype: object

In [38]:
beerReviewerTuples = list(zip(beerIds, reviewerIds))

In [36]:
beerReviewerTuples

[(12300, 10635),
 (7957, 6547),
 (5508, 9789),
 (4522, 7372),
 (6768, 1302),
 (825, 704),
 (7333, 1747),
 (471, 9368),
 (9597, 2568),
 (13705, 6838),
 (14108, 850),
 (13375, 9705),
 (12406, 3264),
 (9194, 2962),
 (7551, 2748),
 (11379, 757),
 (7622, 7207),
 (9185, 2849),
 (8029, 4737),
 (13087, 7826),
 (10274, 8720),
 (10201, 10680),
 (10972, 4094),
 (9753, 7162),
 (191, 10135),
 (10034, 6330),
 (8964, 1292),
 (9443, 2359),
 (1456, 10356),
 (13635, 7279),
 (13944, 1525),
 (10546, 1977),
 (11426, 3544),
 (10308, 4582),
 (5432, 5769),
 (10517, 6488),
 (6736, 10606),
 (6180, 9733),
 (11181, 879),
 (6041, 5764),
 (8188, 1524),
 (2790, 681),
 (6695, 1251),
 (5947, 2201),
 (10692, 5144),
 (13542, 8883),
 (13735, 8353),
 (11845, 3712),
 (13725, 9761),
 (197, 6361),
 (2048, 7637),
 (12653, 2282),
 (13726, 5912),
 (7472, 6464),
 (12928, 8372),
 (14093, 8435),
 (931, 5153),
 (5789, 8568),
 (10973, 3637),
 (12485, 5604),
 (9088, 2639),
 (1889, 5261),
 (1673, 458),
 (9366, 1189),
 (11965, 1891),
 (630, 10353),
 (625, 6047),
 (5967, 532),
 (6208, 4833),
 (5269, 7115),
 (11929, 3840),
 (6625, 10331),
 (3451, 6476),
 (12423, 8162),
 (3568, 5673),
 (6515, 2810),
 (670, 212),
 (968, 897),
 (1310, 10286),
 (2774, 10311),
 (13717, 6861),
 (5044, 3623),
 (13086, 3777),
 (13583, 1337),
 (13488, 2258),
 (13477, 3594),
 (13062, 3434),
 (201, 8009),
 (9541, 5725),
 (1198, 1376),
 (13558, 1545),
 (13057, 1523),
 (195, 9520),
 (13372, 9753),
 (1326, 3953),
 (859, 6618),
 (8497, 3745),
 (11168, 1836),
 (10418, 7592),
 (12273, 4455),
 (8764, 8392),
 (4313, 5407),
 (5005, 2866),
 (7251, 7738),
 (1049, 9646),
 (5126, 6813),
 (2166, 10504),
 (7714, 2559),
 (11770, 10678),
 (8296, 3603),
 (6304, 7233),
 (4581, 5591),
 (10204, 3613),
 (2874, 9039),
 (1203, 8295),
 (10770, 5811),
 (5948, 4769),
 (3494, 2855),
 (6446, 4751),
 (2281, 5342),
 (5859, 97),
 (2214, 3057),
 (6708, 9547),
 (738, 3660),
 (11816, 8109),
 (200, 3727),
 (2787, 3009),
 (6075, 472),
 (4758, 9376),
 (1103, 3480),
 (5242, 6401),
 (10705, 9192),
 (7892, 5458),
 (12082, 8976),
 (9642, 1149),
 (7634, 8552),
 (7250, 9538),
 (8934, 3436),
 (7832, 7721),
 (1047, 7039),
 (2201, 4009),
 (8492, 3287),
 (8027, 8581),
 (13345, 4122),
 (13935, 10096),
 (5281, 1211),
 (2566, 3043),
 (3374, 5420),
 (9793, 7709),
 (9165, 4701),
 (1623, 3132),
 (506, 7428),
 (5710, 9308),
 (9332, 4718),
 (11837, 9616),
 (7611, 7044),
 (8382, 5876),
 (10838, 6683),
 (441, 1204),
 (5259, 7827),
 (910, 120),
 (3137, 5449),
 (4079, 3721),
 (3427, 10231),
 (13389, 4027),
 (8039, 1721),
 (1204, 9891),
 (13335, 588),
 (12147, 7065),
 (10552, 2298),
 (10553, 6248),
 (9104, 4738),
 (7750, 522),
 (8374, 10581),
 (11585, 2445),
 (12660, 3557),
 (10828, 507),
 (10803, 3477),
 (12584, 9357),
 (11733, 313),
 (10547, 6594),
 (9179, 3525),
 (11714, 8410),
 (9977, 7037),
 (11425, 9079),
 (11463, 9845),
 (5826, 1824),
 (12081, 4750),
 (11598, 9225),
 (362, 7017),
 (6316, 10609),
 (13918, 7879),
 (13937, 5885),
 (13096, 5855),
 (13982, 9563),
 (12958, 2479),
 (6210, 3817),
 (11099, 6325),
 (2318, 5066),
 (11985, 6473),
 (9363, 661),
 (12733, 4903),
 (5501, 4356),
 (10454, 7572),
 (2393, 10479),
 (2403, 6266),
 (3418, 6350),
 (3419, 753),
 (1742, 695),
 (11035, 5455),
 (3231, 5257),
 (1832, 786),
 (491, 10509),
 (8045, 1531),
 (13585, 1173),
 (4678, 1516),
 (10542, 5365),
 (12474, 2269),
 (8479, 2868),
 (5959, 10604),
 (9521, 2708),
 (11141, 1602),
 (14019, 5314),
 (10609, 5477),
 (13881, 1340),
 (14153, 5626),
 (13188, 7818),
 (13486, 8554),
 (9920, 1861),
 (7767, 5397),
 (7656, 6025),
 (13531, 583),
 (13793, 90),
 (13906, 794),
 (10277, 8711),
 (10273, 5121),
 (10558, 4762),
 (13907, 1180),
 (12210, 8204),
 (4154, 7751),
 (5313, 7248),
 (7631, 1659),
 (11586, 4428),
 (11467, 7892),
 (6699, 6403),
 (14198, 4206),
 (13782, 9037),
 (671, 5720),
 (10439, 7780),
 (13816, 2519),
 (12740, 1985),
 (306, 3435),
 (8644, 6193),
 (7954, 7353),
 (3620, 3299),
 (628, 9507),
 (10710, 1541),
 (626, 9189),
 (299, 4774),
 (5152, 153),
 (521, 2430),
 (172, 7100),
 (6295, 4556),
 (2860, 3447),
 (13132, 2500),
 (12637, 7958),
 (13629, 1680),
 (13303, 5628),
 (13378, 3383),
 (9683, 9901),
 (13055, 9255),
 (13125, 78),
 (9520, 9104),
 (10408, 8134),
 (13483, 2244),
 (11706, 1708),
 (12888, 2119),
 (13126, 2079),
 (12770, 7149),
 (13842, 3850),
 (13969, 10168),
 (13694, 9181),
 (9983, 9094),
 (13308, 9344),
 (11193, 1767),
 (13304, 10476),
 (196, 7808),
 (6155, 1460),
 (10403, 575),
 (11317, 8464),
 (8635, 2873),
 (11023, 9973),
 (3720, 2706),
 (1841, 2143),
 (14227, 7778),
 (3189, 1310),
 (7461, 3934),
 (1802, 2590),
 (10781, 5602),
 (9043, 1710),
 (1132, 10285),
 (13293, 2274),
 (11040, 547),
 (11636, 8912),
 (1324, 4061),
 (1690, 1246),
 (421, 9447),
 (165, 3888),
 (8021, 9592),
 (6659, 2880),
 (1258, 1138),
 (549, 9448),
 (3408, 10662),
 (10415, 1980),
 (10909, 4296),
 (13733, 8183),
 (4923, 10307),
 (10156, 3255),
 (10058, 4215),
 (7163, 446),
 (6493, 2232),
 (8379, 1805),
 (3976, 1741),
 (9087, 2965),
 (3686, 4346),
 (1048, 6184),
 (11016, 5898),
 (4675, 5713),
 (11325, 409),
 (10033, 1429),
 (12916, 5675),
 (2425, 7869),
 (9531, 10098),
 (6007, 3793),
 (11932, 10153),
 (14144, 1613),
 (12656, 8319),
 (12561, 8366),
 (10428, 6900),
 (4377, 5406),
 (9212, 6870),
 (6039, 2755),
 (937, 10632),
 (6661, 8026),
 (8402, 2211),
 (2996, 6760),
 (9418, 8823),
 (3343, 2974),
 (2574, 3831),
 (2513, 10514),
 (6541, 9859),
 (6323, 5607),
 (6324, 5307),
 (11955, 6778),
 (13591, 2316),
 (10296, 2456),
 (11126, 1799),
 (11506, 7506),
 (14133, 1432),
 (923, 4962),
 (10851, 3347),
 (3609, 7239),
 (12571, 6168),
 (12048, 6741),
 (13299, 1529),
 (1804, 2830),
 (10037, 7265),
 (9202, 6441),
 (1645, 3053),
 (1644, 8300),
 (3290, 4965),
 (3062, 4563),
 (7352, 7005),
 (2077, 1325),
 (11092, 3350),
 (11420, 174),
 (6307, 6803),
 (7926, 909),
 (7503, 176),
 (8804, 8205),
 (11018, 8329),
 (7565, 2227),
 (6090, 4845),
 (3088, 2191),
 (4926, 5483),
 (14193, 1387),
 (4623, 8163),
 (1705, 2501),
 (4298, 3418),
 (7035, 7035),
 (7203, 1792),
 (8076, 6412),
 (9260, 2971),
 (11474, 9670),
 (4457, 3741),
 (7524, 3175),
 (8129, 238),
 (4378, 1998),
 (4819, 7499),
 (8708, 4615),
 (3939, 1762),
 (1810, 10020),
 (9794, 6538),
 (124, 2975),
 (1665, 7582),
 (8553, 2464),
 (11217, 1482),
 (8622, 7003),
 (7215, 7078),
 (2250, 7559),
 (9424, 177),
 (2804, 5453),
 (8072, 2047),
 (7442, 3070),
 (1887, 8986),
 (10683, 4924),
 (12066, 4218),
 (12482, 9128),
 (11135, 9804),
 (8412, 1439),
 (9945, 1964),
 (11355, 6375),
 (1628, 2496),
 (4746, 8755),
 (4372, 8396),
 (2971, 1349),
 (9529, 4253),
 (8803, 4741),
 (11001, 1212),
 (11175, 8467),
 (8332, 1822),
 (4862, 7013),
 (9760, 8328),
 (4704, 10048),
 (10002, 4923),
 (6245, 1233),
 (10382, 10275),
 (2664, 2731),
 (3545, 9054),
 (9582, 5114),
 (9301, 10438),
 (9300, 10270),
 (192, 85),
 (8962, 2284),
 (9626, 7616),
 (5250, 8108),
 (854, 3048),
 (10203, 3083),
 (1202, 7418),
 (11959, 7385),
 (13886, 6322),
 (12777, 2492),
 (11689, 2651),
 (11131, 8588),
 (4055, 1476),
 (8982, 5512),
 (13613, 4889),
 (10276, 9929),
 (11825, 2977),
 (11300, 8540),
 (5794, 8399),
 (1691, 7282),
 (1655, 7628),
 (4466, 3238),
 (974, 6894),
 (5759, 7524),
 (4851, 8267),
 (8522, 3797),
 (8003, 9411),
 (12532, 9070),
 (7961, 7058),
 (3575, 8459),
 (3791, 2881),
 (7073, 2355),
 (4980, 9107),
 (1695, 6712),
 (5651, 3101),
 (10643, 2736),
 (7730, 6578),
 (3827, 4432),
 (11431, 743),
 (7075, 10044),
 (1970, 3408),
 (7380, 8887),
 (10283, 4503),
 (1008, 6339),
 (1128, 7990),
 (122, 9177),
 (1653, 1542),
 (6384, 2606),
 (12232, 3832),
 (1664, 7625),
 (11753, 3500),
 (327, 1054),
 (6138, 6725),
 (333, 6409),
 (10802, 2600),
 (8034, 1322),
 (13943, 10350),
 (8285, 171),
 (12688, 5689),
 (954, 9923),
 (951, 10252),
 (971, 8756),
 (2071, 1267),
 (7672, 1320),
 (8149, 1361),
 (7671, 6229),
 (9685, 2382),
 (12023, 5270),
 (4669, 10043),
 (2273, 10665),
 (12309, 7906),
 (11631, 8768),
 (8978, 4760),
 (4884, 1860),
 (7904, 3908),
 (10026, 5435),
 (3354, 447),
 (9021, 10650),
 (9883, 3158),
 (1294, 6718),
 (7139, 4767),
 (12204, 6886),
 (13003, 7074),
 (1295, 2253),
 (12397, 462),
 (14006, 8231),
 (13110, 9490),
 (1293, 2360),
 (8847, 6967),
 (977, 439),
 (9497, 6733),
 (7282, 2454),
 (5620, 5644),
 (5640, 9825),
 (4265, 8034),
 (8310, 3995),
 (1513, 4763),
 (13191, 5096),
 (13787, 7432),
 (11286, 2384),
 (1016, 3286),
 (9235, 3724),
 (2858, 1178),
 (460, 7390),
 (526, 1929),
 (7552, 4368),
 (7540, 551),
 (4544, 5755),
 (804, 2991),
 (3555, 8296),
 (10941, 6638),
 (5217, 4667),
 (11496, 8864),
 (8914, 4841),
 (9850, 1450),
 (5854, 3736),
 (8135, 9887),
 (3838, 4867),
 (13663, 2145),
 (13259, 10092),
 (3453, 3765),
 (1051, 1455),
 (5554, 6024),
 (10723, 297),
 (5084, 4298),
 (3302, 2438),
 (9078, 9221),
 (13912, 1716),
 (2020, 9026),
 (11668, 91),
 (7573, 3901),
 (12703, 4427),
 (13475, 3178),
 (10059, 8760),
 (4567, 7362),
 (4676, 5424),
 (1545, 10256),
 (3669, 10578),
 (1396, 9003),
 (8531, 2222),
 (1046, 6348),
 (11063, 6426),
 (8831, 6407),
 (8832, 2203),
 (3063, 7315),
 (6358, 4610),
 (1323, 7810),
 (10778, 4618),
 (11731, 6560),
 (4845, 1688),
 (4150, 513),
 (8124, 285),
 (10344, 1115),
 (8181, 479),
 (8318, 5279),
 (7983, 6846),
 (3613, 2935),
 (2319, 8921),
 (6443, 4041),
 (8837, 9289),
 (4353, 744),
 (3057, 4002),
 (2972, 9176),
 (9383, 1208),
 (10162, 2295),
 (6038, 1983),
 (10268, 2824),
 (13146, 3533),
 (13528, 1098),
 (10912, 10005),
 (7909, 7167),
 (4931, 5152),
 (4607, 5289),
 (9846, 9362),
 (4547, 7763),
 (6135, 10185),
 (7046, 2174),
 (10458, 2925),
 (11043, 9920),
 (10202, 9053),
 (14060, 217),
 (11906, 5035),
 (10275, 4410),
 (12862, 260),
 (10979, 781),
 (11416, 7680),
 (12909, 7930),
 (12900, 3257),
 (13119, 7200),
 (13891, 7455),
 (13156, 45),
 (12392, 1231),
 (12505, 6418),
 (5958, 8085),
 (13166, 6990),
 (8665, 8582),
 (9759, 2892),
 (9518, 2903),
 (10001, 9810),
 (5320, 7739),
 (8807, 5264),
 (10389, 8680),
 (2663, 5927),
 (5828, 396),
 (2662, 10506),
 (5800, 7273),
 (12544, 9838),
 (10043, 10352),
 (193, 1829),
 (11214, 10424),
 (10751, 2168),
 (10506, 3002),
 (190, 4788),
 (5912, 7384),
 (10982, 10084),
 (8775, 8746),
 (7951, 5806),
 (4207, 2505),
 (2424, 4066),
 (5550, 7364),
 (7366, 154),
 (3633, 6039),
 (3085, 2969),
 (8828, 4480),
 (8834, 10434),
 (8827, 5480),
 (8858, 1431),
 (12540, 5067),
 (8826, 968),
 (10628, 3122),
 (9557, 6843),
 (13962, 600),
 (9348, 693),
 (10773, 8146),
 (3574, 6080),
 (10205, 4801),
 (9553, 10400),
 (12820, 9443),
 (1800, 6942),
 (5583, 6428),
 (11958, 274),
 (9613, 3240),
 (1237, 4021),
 (8674, 3303),
 (12271, 7963),
 (624, 2493),
 (627, 8803),
 (330, 3662),
 (418, 4209),
 (3182, 2239),
 (6952, 1108),
 (2910, 1490),
 (329, 252),
 (3792, 6317),
 (328, 4721),
 (3725, 10511),
 (962, 1722),
 (1, 4123),
 (2032, 162),
 (727, 680),
 (725, 9927),
 (1025, 3655),
 (1023, 41),
 (2277, 2710),
 (194, 3135),
 (1449, 1147),
 (13190, 6164),
 (394, 9211),
 (1598, 3516),
 (3898, 8723),
 (1900, 2245),
 (1325, 271),
 (1322, 6622),
 (577, 9241),
 (560, 7668),
 (565, 2255),
 (2018, 8818),
 (13023, 6499),
 (62, 4278),
 (5060, 8033),
 (7785, 5962),
 (6003, 1871),
 (4688, 8641),
 (12872, 3874),
 (11769, 4850),
 (2274, 7208),
 (3500, 7360),
 (7427, 4471),
 (6480, 3062),
 (176, 10249),
 (4846, 3084),
 (175, 3627),
 (1982, 3124),
 (654, 2433),
 (691, 1427),
 (714, 229),
 (3445, 9307),
 (7303, 1048),
 (9818, 8015),
 (11746, 967),
 (8871, 3867),
 (9026, 1862),
 (1296, 6196),
 (8164, 10528),
 (13411, 3531),
 (2233, 7205),
 (4371, 6952),
 (1718, 9832),
 (2225, 6890),
 (8217, 5427),
 (13082, 5823),
 (8961, 3847),
 (8960, 10145),
 (9324, 4259),
 (10931, 9361),
 (12361, 2936),
 (12623, 559),
 (12262, 10596),
 (6404, 2941),
 (11151, 6671),
 (12608, 3420),
 (12441, 9940),
 (6028, 3226),
 (12667, 5101),
 (4826, 75),
 (2104, 5356),
 (11855, 5235),
 (8778, 7552),
 (6029, 566),
 (8291, 10322),
 (12297, 533),
 (6158, 10608),
 (3278, 2546),
 (3815, 9301),
 (6184, 6735),
 (10116, 5508),
 (10154, 3943),
 (13848, 6333),
 (11354, 2094),
 (9779, 35),
 (12311, 6487),
 (14057, 10316),
 (10935, 8992),
 (12768, 1608),
 (14089, 2180),
 (10670, 2291),
 (12769, 7578),
 (12310, 8731),
 (14052, 3899),
 (13895, 6360),
 (11066, 910),
 (1229, 6174),
 (1227, 3830),
 (1976, 8852),
 (3762, 7192),
 (7226, 9759),
 (8815, 5550),
 (12156, 10591),
 (2227, 6246),
 (570, 5333),
 (9710, 8473),
 (3528, 1930),
 (10603, 6461),
 (13734, 10567),
 (4930, 3060),
 (10035, 9013),
 (13305, 10641),
 (4927, 5012),
 (11254, 8079),
 (9432, 912),
 (11729, 8595),
 (7385, 1402),
 (13388, 8313),
 (10460, 6749),
 (11538, 4001),
 (3165, 8195),
 (4629, 159),
 (5998, 7730),
 (4674, 9517),
 (13494, 9580),
 (2158, 4242),
 (1654, 7664),
 (9606, 5445),
 (6498, 5441),
 (1228, 2776),
 (11563, 1954),
 (4374, 5031),
 (7387, 3819),
 (5709, 3413),
 (7938, 3737),
 (12620, 10522),
 (11432, 6849),
 (9766, 4710),
 (10462, 8252),
 (11596, 6650),
 (1874, 3064),
 (582, 9831),
 (9197, 2764),
 (8659, 7522),
 (8082, 6012),
 (2995, 4177),
 (11315, 8199),
 (13385, 9086),
 (11224, 653),
 (3463, 6082),
 (10958, 8620),
 (9784, 8564),
 (7170, 947),
 (11665, 10320),
 (9935, 117),
 (12487, 3885),
 (713, 2431),
 (9921, 3155),
 (11590, 8630),
 (1053, 9450),
 (13095, 7374),
 (13469, 2891),
 (12366, 9197),
 (13507, 2183),
 (11328, 4748),
 (8963, 3975),
 (12517, 5320),
 (9294, 3596),
 (14001, 4813),
 (13479, 8634),
 (10717, 1143),
 (10718, 2679),
 (13478, 7083),
 (12461, 196),
 (999, 9626),
 (2801, 8510),
 (331, 1015),
 (11350, 10156),
 (5354, 9765),
 (13359, 380),
 (3567, 3380),
 (12106, 7754),
 (10159, 629),
 (2160, 7791),
 (9401, 9023),
 (3779, 8078),
 (3491, 5111),
 (1441, 1899),
 (1799, 19),
 (6297, 3898),
 (5034, 2734),
 (12131, 344),
 (12138, 6891),
 (14029, 4080),
 (6903, 9702),
 (63, 10603),
 (10759, 2762),
 (12194, 552),
 (9761, 9377),
 (10783, 2213),
 (5624, 820),
 (8498, 6309),
 (10995, 6235),
 (9919, 9247),
 (12447, 8655),
 (11298, 8160),
 (11182, 3204),
 (8780, 6988),
 (12391, 387),
 (10855, 3081),
 (2818, 2027),
 (14017, 1726),
 (11518, 6850),
 (9944, 4910),
 (12793, 3587),
 (13079, 4261),
 (12368, 6800),
 (12947, 571),
 (13189, 4155),
 (10493, 10642),
 (10443, 2348),
 (10949, 10508),
 (12672, 3846),
 (7815, 10029),
 (13338, 4902),
 (5741, 7305),
 (10915, 6110),
 (11173, 6003),
 (10678, 7889),
 (11075, 4283),
 (10694, 2039),
 (10451, 16),
 (8937, 10290),
 (6782, 7839),
 (2914, 9280),
 (3566, 6247),
 (1857, 7272),
 (5853, 8679),
 (9388, 4552),
 (7663, 10086),
 (5945, 7398),
 (12105, 3562),
 (14034, 4509),
 (13728, 2018),
 (13334, 7966),
 (13981, 4102),
 (12411, 303),
 (13579, 1974),
 (13088, 3326),
 (6593, 9494),
 (10339, 10358),
 (7304, 606),
 (11619, 9503),
 (8073, 4973),
 (8796, 9194),
 (1619, 10259),
 (1651, 381),
 (9627, 10516),
 (1954, 9777),
 (8087, 3220),
 (2960, 2520),
 (2602, 814),
 (2924, 2779),
 (3328, 7171),
 (1963, 8938),
 (2083, 6811),
 (9100, 8997),
 (11608, 6073),
 (11250, 6085),
 (13804, 2478),
 (12999, 1074),
 (12247, 5981),
 (13801, 8729),
 (14171, 934),
 (9377, 619),
 (9580, 1009),
 (3913, 4743),
 (11209, 7328),
 (11210, 3922),
 (4925, 8007),
 (5889, 2299),
 (4546, 2598),
 (11320, 2945),
 (8768, 592),
 (2850, 837),
 (8862, 1082),
 (4585, 5482),
 (13013, 9615),
 (10071, 1925),
 (12231, 1704),
 (9856, 4131),
 (10323, 7627),
 (9632, 5002),
 (6093, 8550),
 (13617, 9611),
 (3296, 2196),
 (2378, 10309),
 (2980, 4719),
 (5022, 4547),
 (712, 813),
 (10092, 2889),
 (3367, 1532),
 (3099, 9457),
 ...]

In [39]:

dataset = Dataset()
dataset.fit(set(beerIds), set(reviewerIds), item_features=reviewerFeatures, user_features=beerFeatures)

In [40]:
interactions = dataset.build_interactions(beerReviewerTuples)

In [41]:
interactions

(<1764x9026 sparse matrix of type '<class 'numpy.int32'>'
 	with 1764 stored elements in COOrdinate format>,
 <1764x9026 sparse matrix of type '<class 'numpy.float32'>'
 	with 1764 stored elements in COOrdinate format>)

In [43]:
beerFeaturesBuilt = dataset.build_item_features(beerFeatures)
reviewerFeaturesBuilt = dataset.build_item_features(reviewerFeatures)

ValueError: Expected tuples of (item_id, features), got 23.0.

In [42]:
# Set the number of threads; you can increase this
# if you have more physical cores available.
NUM_THREADS = 2
NUM_COMPONENTS = 30
NUM_EPOCHS = 3
ITEM_ALPHA = 1e-6

# Let's fit a WARP model: these generally have the best performance.
model = LightFM(loss='warp',
                item_alpha=ITEM_ALPHA,
               no_components=NUM_COMPONENTS)

# Run 3 epochs and time it.
model = model.fit(interactions, epochs=NUM_EPOCHS, num_threads=NUM_THREADS)

AttributeError: 'tuple' object has no attribute 'tocoo'

In [ ]:


model = algorithm.fit(trainsetTrainFeatures)
predictions = algorithm.test(valset)


# Score our predictions with MAE
# It is around 0.77, which means the a random guess based on the distribution of the data
# is on average within 0.77 (plus or minus) the true label.
# Not bad! You can beat it though, I'm sure :).
# Smaller MAE is the better. Good luck!
mae = accuracy.mae(predictions,verbose=True)

print("Average MAE: " + str(mae))

In [ ]:
print(type(valset))
print(valset[0:10])

In [ ]:
print(type(predictions))
print(str(len(predictions)))
print(predictions[0:10])
print(predictions[0])

In [ ]:
# Convert the Predictions to a dataframe so we can lookup predictions easy
lstUIds = list(map(lambda x: x.uid, predictions))
lstIIds = list(map(lambda x: x.iid, predictions))
lstTrueRatings = list(map(lambda x: x.r_ui, predictions))
lstRatingEst = list(map(lambda x: x.est, predictions))


# uid == BeerId, iid == ReviewerId, r_ui == Original Ration, est = Predicted rating
dfPredictions = pd.DataFrame({ "uid": lstUIds,"iid": lstIIds, "r_ui": lstTrueRatings, "Predict": lstRatingEst })

dfPredictions.head()
# dfPredictions[dfPredictions.uid == 3519]

In [ ]:
print(dfValiIds.shape)
print(dfPredictions.shape)

In [ ]:
# join the predictions to the ids, sort by rowid and write to file
dfPredictions = pd.merge(dfValiIds, dfPredictions, how="inner", left_on=["BeerID", "ReviewerID"], right_on=["uid", "iid"])
dfPredictions.head()

Write to a subrun file

In [ ]:
if writeSubRunFile:
  dfPredictions.sort_values("RowID")[["RowID", "BeerID", "ReviewerID", "Predict"]].to_csv(subrunDir + filePrefix + "_subrun.csv", index=False)

print("Average MAE: " + str(mae))
print("analyse_maes.append(" + str(mae) + ")")
print(dfPredictions.shape)
dfPredictions.sort_values("RowID").head(8)

## Summary - 200k of data

First Run of Content KNN with just the numbers col came out to around 0.5 (exact value lost)

Adding Scaling: 0.501

## Full Data